<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweet Generator</title>
  <link href="../static/style.css" rel="stylesheet">

</head>
<body class="body">
  <h3>Black Eyed Peas Lyric Generator</h3>
    <!-- <img src="static/images/pea-2.png" alt="black eyed pea" width="450" height="630"> -->
    {% block content %}
    <!-- <blockquote>TODO: Replace this text with the sentence you generated!</blockquote> -->
    <blockquote>{{generated_sentence}}</blockquote>
    
    {% endblock %}
</body>
</html>
